<div class="row">
  <div class="col-md-6">
    <div class="media menu-item">
      <!-- <img
        src=""
        class="img-fluid mr-3"
      /> -->
      <div class="media-body">
        <h5 class="mt-0">Coconut Shrimp</h5>
        <p>
          Shrimp lightly battered in coconut flakes and deep-fried, served on a bed of shredded carrot
          and lettuce with our home made sweet and sour sauce. Served with white jasmine rice.
        </p>
        <h6 class="text-primary menu-price">$14.95</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <!-- <img
        src=""
        class="img-fluid mr-3"
      /> -->
      <div class="media-body">
        <h5 class="mt-0">Crystal Thai Seafood</h5>
        <p>
          Sautéed shrimp, scallops, mussels, and calamari with fresh garlic, onions, and
          homemade chili paste sauce, served on steamed broccoli. Served with white jasmine rice.
        </p>
        <h6 class="text-primary menu-price">$17.75</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <!-- <img
        src=""
        class="img-fluid mr-3"
      /> -->
      <div class="media-body">
        <h5 class="mt-0">Pad Woon Sen</h5>
        <p>
          Sautéed bean thread noodles with chicken,
          shrimp, snow peas, carrots, celery, baby corn. Served with white jasmine rice.
        </p>
        <h6 class="text-primary menu-price">$13.95</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <!-- <img
        src=""
        class="img-fluid mr-3"
      /> -->
      <div class="media-body">
        <h5 class="mt-0">Sizzling Seafood</h5>
        <p>
          Sautéed shrimp, scallops, and mussels with onion, sweet basil
          leaves in a spicy brown sauce. Served with white jasmine rice.
        </p>
        <h6 class="text-primary menu-price">$18.75</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <!-- <img
        src=""
        class="img-fluid mr-3"
      /> -->
      <div class="media-body">
        <h5 class="mt-0">Herbal Mussels</h5>
        <p>
          New Zealand mussel sautéed in fresh garlic, lemongrass,
          sweet basil and spicy Thai herbs sauce. Served with white jasmine rice.
        </p>
        <h6 class="text-primary menu-price">$15.95</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <!-- <img
        src=""
        class="img-fluid mr-3"
      /> -->
      <div class="media-body">
        <h5 class="mt-0">Crispy Fish Fillet with Chili Sauce</h5>
        <p>
          Crispy fish fillet with a spicy sweet and sour sauce, garlic, onions, bell peppers and sweet basil.
          Served with white jasmine rice.
        </p>
        <h6 class="text-primary menu-price">$17.95</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <!-- <img
        src=""
        class="img-fluid mr-3"
      /> -->
      <div class="media-body">
        <h5 class="mt-0">Pineapple Fried Rice</h5>
        <p>
          Stir fried rice with egg, pineapple chunks,
          onions, peas, carrots, and cashew nuts with your choice of:
        </p>
        <h6 class="text-primary menu-price">Mixed Vegetables...$13.45</h6>
        <h6 class="text-primary menu-price">Chicken OR Beef OR Tofu...$13.75</h6>
        <h6 class="text-primary menu-price">Shrimp OR Scallops...$15.95</h6>
        <p><b>Extra egg is $1.00, extra fried rice is $2.00, extra cashew nuts is $2.00</b></p>
      </div>
    </div>
  </div>
  <div class="col-md-12 text-center mb-5">
    <div class="row justify-content-center">
        <div class="col-md-7">
                <sub> Please notify us of any Food Allergies, as all ingredients are not listed in the menu.
                  All food may contain some traces of peanuts. There will be 18% gratuity fee with a party of six or more..
                  </sub>
        </div>
    </div>
  </div>

</div>
