<nav class="navbar navbar-expand-lg navbar-dark site_navbar bg-dark site-navbar-light" id="site-navbar">
  <div class="container">
      <a class="navbar-brand" href="index.html">CrystalThai</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-nav"
          aria-controls="site-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="site-nav">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active"><a href="#section-home" class="nav-link">Home</a></li>
              <li class="nav-item"><a href="#section-menu" class="nav-link">Menu</a></li>
              <li class="nav-item"><a href="#section-contact" class="nav-link">Direction</a></li>
          </ul>
      </div>
  </div>
</nav>
<!-- END nav -->

<section class="site-cover" style="background-image: url(/assets/images/frontBody.jpg);" id="section-home">
  <div class="container">
      <div class="row align-items-center justify-content-center text-center site-vh-100">
          <div class="col-md-12">
              <h1 class="site-heading site-animate mb-3" style="background: rgba(0, 0, 0, 0.5);">Welcome To CrystalThai</h1>
              <div class="h5 site-subheading mb-5 site-animate" style="background: rgba(0, 0, 0, 0.5);">
                <p><b>Hours:</b> </p>
                <p class="header-text"><u>Monday - Thursday:</u></p>
                <p class="header-text">Lunch Hours: 11:30 AM - 3:00 PM (seating ends at 2:30 PM)</p>
                <p>Dinner Hours: 4:15 PM - 8:30 PM (seating ends at 8:00 PM)</p>
                <p class="header-text"><u>Friday:</u></p>
                <p class="header-text">Lunch Hours: 11:30 AM - 3:00 PM (seating ends at 2:30 PM)</p>
                <p>Dinner Hours: 4:15 PM - 9:00 PM (seating ends at 8:30 PM)</p>
                <p class="header-text"><u>Saturday:</u> 4:30 PM - 9:00 PM (seating ends at 8:30 PM)</p>
                <p><u>Sunday:</u> 4:30 PM - 8:30 PM (seating ends at 8:00 PM)</p>


              </div>

              <div class="h5 site-subheading mb-5 site-animate" style="background: rgba(0, 0, 0, 0.5);">
                <p>9191 Reistertown Road, Owings Mills, MD: 21117</p>
                <p style="margin-bottom: 0em;">Phone: <a href="tel:{{phoneNumber}}">{{phoneNumber}}</a></p>
              </div>
              <!-- ANNOUNCEMENT box -->
              <div style="background-color: #990011FF; margin-left: auto; margin-right: auto;">
              <p>{{ announcement }}</p>

              </div>
          </div>
      </div>
  </div>
</section>
<!-- END section -->
