<nav class="navbar navbar-expand-lg navbar-dark site_navbar bg-dark site-navbar-light" id="site-navbar">
  <div class="container">
      <a class="navbar-brand" href="index.html">CrystalThai</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-nav"
          aria-controls="site-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="site-nav">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active"><a href="#section-home" class="nav-link">Home</a></li>
              <!-- <li class="nav-item"><a href="#section-offer" class="nav-link">Offer</a></li> -->
              <li class="nav-item"><a href="#section-menu" class="nav-link">Menu</a></li>
              <li class="nav-item"><a href="#section-contact" class="nav-link">Direction</a></li>
          </ul>
      </div>
  </div>
</nav>
<!-- END nav -->

<section class="site-cover" style="background-image: url(/assets/images/frontBody.jpg);" id="section-home">
  <div class="container">
      <div class="row align-items-center justify-content-center text-center site-vh-100">
          <div class="col-md-12">
              <h1 class="site-heading site-animate mb-3" style="background: rgba(0, 0, 0, 0.5);">Welcome To CrystalThai</h1>
              <div class="h5 site-subheading mb-5 site-animate" style="background: rgba(0, 0, 0, 0.5);">
                <p><b>Hours:</b> </p>
                <p>Monday - Friday: 12:30 P.M. to 8:30 P.M.</p>
                <p>Saturday &amp; Sunday: 4:30 P.M. to 8:30 P.M.</p>


              </div>

              <div class="h5 site-subheading mb-5 site-animate" style="background: rgba(0, 0, 0, 0.5);">
                <p>9191 Reistertown Road, Owings Mills, MD: 21117</p>
                <p style="margin-bottom: 0em;">Phone: <a href="tel:4105810444">410-581-0444</a></p>
                <p>Fax: 410-581-0449</p>
              </div>
              <!-- ANNOUNCEMENT box -->
              <div style="background-color: #990011FF; margin-left: auto; margin-right: auto;">
              <p>{{ announcement }}</p>

              </div>
              <!-- ANNOUNCEMENT box -->
              <!-- <h2 class="h5 site-subheading mb-5 site-animate">Hours:</h2> -->
              <!-- <p><a href="https://colorlib.com/" target="_blank" class="btn btn-outline-white btn-lg site-animate"
                      data-toggle="modal" data-target="#reservationModal">Reservation</a></p> -->
          </div>
      </div>
  </div>
</section>
<!-- END section -->
