<div class="row">
  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Crystal Garden</h5>
        <p>
          Sautéed mixed vegetables in our brown sauce.
          Served with white jasmine rice.
        </p>
        <h6 class="text-primary menu-price">Mixed Vegetables...$13.45</h6>
        <h6 class="text-primary menu-price">Chicken OR Beef OR Tofu...$13.75</h6>
        <h6 class="text-primary menu-price">Shrimp OR Scallops...$15.75</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Talay Woon Sen</h5>
        <p>
          Sautéed shrimp, scallops, and New Zealand mussels with
          mushrooms, onions, carrots, celery, snow peas, and bean thread noodles.
          Served with white jasmine rice.
        </p>
        <h6 class="text-primary menu-price">$19.75</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Spicy Eggplant <i class="ico"></i></h5>
        <p>
          Sautéed eggplant with fresh garlic, ground chicken, onions, bell peppers in the house chili sauce.
          Served with white jasmine rice.
        </p>
        <h6 class="text-primary menu-price">$14.75</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Crispy Whole Fish</h5>
        <p>
          Deep fried whole fish topped with your choice of either red curry sauce or spicy and sweet herb sauce.
          Served with white jasmine rice.
        </p>
        <h6 class="text-primary menu-price">Market Price (ask server for available prices)</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Grilled Salmon <i class="ico"></i></h5>
        <p>
          Grilled salmon fillet with your choice of either red curry or spicy and sweet herb sauce.
          Served on a bed of broccoli and a side of white jasmine rice.
        </p>
        <h6 class="text-primary menu-price">$18.75</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Pad Pik King <i class="ico"></i></h5>
        <p>
          Stir-fried green beans, and bell peppers in a chili paste sauce.
          Served with white jasmine rice.
        </p>
        <h6 class="text-primary menu-price">Mixed Vegetables...$13.45</h6>
        <h6 class="text-primary menu-price">Chicken OR Beef OR Tofu...$13.75</h6>
        <h6 class="text-primary menu-price">Shrimp OR Scallops...$15.75</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Eggplant Delight</h5>
        <p>
          Sautéed eggplant with fresh garlic, onions, and bell peppers in brown sauce.
          Served on a bed of broccoli and a side of white jasmine rice.
        </p>
        <h6 class="text-primary menu-price">$13.75</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Crystal Thai Peanut</h5>
        <p>
          Sautéed broccoli and carrot in our house peanut soy sauce.
          Served with white jasmine rice.
        </p>
        <h6 class="text-primary menu-price">Mixed Vegetables...$13.45</h6>
        <h6 class="text-primary menu-price">Chicken OR Beef OR Tofu...$13.75</h6>
        <h6 class="text-primary menu-price">(Shrimp AND Scallops not available for this dish)</h6>
      </div>
    </div>
  </div>
  <div class="col-md-12 text-center mb-5">
    <div class="row justify-content-center">
        <div class="col-md-7">
                <sub> Please notify us of any Food Allergies, as all ingredients are not listed in the menu.
                  All food may contain some traces of peanuts. There will be 18% gratuity fee with a party of six or more..
                  </sub>
        </div>
    </div>
  </div>
</div>
