<section class="site-section bg-light" id="section-offer">
  <div class="container">

<section class="site-section" id="section-menu">
  <div class="container">
      <div class="row">
        <!--Lunch Specials Options-->
          <div class="col-md-12 text-center mb-5 site-animate">
              <h2 class="display-4">Menu</h2>
              <div class="row justify-content-center">
                  <div class="col-md-7">
                          <p></p>
                          <sub>Items with </sub>
                          <i class="ico"></i>
                          <sub> indicate that the item is a bit spicy by default, please indicate to server your heat preference.
                            Spice level can be adjusted on majority of items on menu.
                            Additionally, we have a 1 to 5 star-system for spice. Ask server for clarification.
                            </sub>
                          <div *ngIf="isMenuClickedOn(dinnerMenus) || isMenuClickedOn(lunchMenus)" style="font-weight: bold; line-height: 1; color: #990011FF;">
                            <hr>
                            <sub>(vegan proteins automatically pair with vegan sauce)</sub>
                            <br>
                            <sub>If you want more than one type of protein or just more protein:</sub>
                            <br>
                            <sub>$3.00 to add chicken OR beef</sub>
                            <br>
                            <sub>$4.00 to add shrimp OR scallop</sub>
                            <br>
                            <sub>$2.00 to add tofu</sub>
                            <div *ngIf="menuClicked != 'Noodles & Fried Rice'">
                              <br>
                              <sub>$1.95 for extra white jasmine rice (we only have white jasmine rice)</sub>
                              <br>
                              <sub>Fried Rice is not a side option</sub>
                            </div>
                          </div>
                  </div>
              </div>
          </div>

          <div class="col-md-12 text-center">
              <ul class="nav site-tab-nav nav-pills mb-5" id="pills-tab">
                <!-- Common Menus Dropdown-->
                <li [ngClass]="isMenuClickedOn(commonMenus) ? 'menu-highlight' : ''" class="nav-item site-animate">
                  <select class="nav-link" id="pills-breakfast-tab" (change)="setMenu($event.target.value)">
                    <option [selected]="!isMenuClickedOn(commonMenus)" disabled>select an option</option>
                    <option *ngFor="let menu of commonMenus">{{ menu }}</option>
                  </select>
                </li>

                <li [ngClass]="isMenuClickedOn(lunchMenus) ? 'menu-highlight' : ''" class="nav-item site-animate">
                  <select class="nav-link" id="pills-breakfast-tab" (change)="setMenu($event.target.value)">
                    <option [selected]="!isMenuClickedOn(lunchMenus)" disabled>Lunch options</option>
                    <option *ngFor="let menu of lunchMenus">{{ menu }}</option>
                  </select>
                </li>

                <li [ngClass]="isMenuClickedOn(dinnerMenus) ? 'menu-highlight' : ''" class="nav-item site-animate">
                  <select class="nav-link" id="pills-breakfast-tab" (change)="setMenu($event.target.value)">
                    <option [selected]="!isMenuClickedOn(dinnerMenus)" disabled>dinner options</option>
                    <option *ngFor="let menu of dinnerMenus">{{ menu }}</option>
                  </select>
                </li>
              </ul>

              <!-- Common Menus Tabs-->
              <div class="tab-content text-left">
                <app-appetizer *ngIf="showMenu('Appetizer')"></app-appetizer>
                <app-salad *ngIf="showMenu('Salad')"></app-salad>
                <app-soup *ngIf="showMenu('Soup')"></app-soup>
                <app-deserts *ngIf="showMenu('Desserts')"></app-deserts>
                <app-beverages *ngIf="showMenu('Beverages')"></app-beverages>
              </div>

              <!-- Lunch menus tabs -->
              <div class="tab-content text-left">
                <app-lunch-entrees *ngIf="showMenu('Lunch Entrees')"></app-lunch-entrees>
                <app-lunch-curries *ngIf="showMenu('Lunch Curries')"></app-lunch-curries>
                <app-lunch-rice-noodles *ngIf="showMenu('Lunch Fried Rice & Noodles')"></app-lunch-rice-noodles>
              </div>

              <!-- Dinner menus tabs-->
              <div class="tab-content text-left">
                <app-house-specialties *ngIf="showMenu('House Specialties')"></app-house-specialties>
                <app-dinner-entrees-one *ngIf="showMenu('Dinner Entrees 1')"></app-dinner-entrees-one>
                <app-dinner-entrees-two *ngIf="showMenu('Dinner Entrees 2')"></app-dinner-entrees-two>
                <app-dinner-curries *ngIf="showMenu('Curries')"></app-dinner-curries>
                <app-dinner-rice-noodles *ngIf="showMenu('Noodles & Fried Rice')"></app-dinner-rice-noodles>
              </div>

          </div>
      </div>
  </div>
</section>
<!-- END section -->

