<div class="row">
  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Thai Red Curry <i class="ico"></i></h5>
        <p>
          Red curry paste cooked in coconut milk with bell pepper, bamboo shoot,
          and sweet basil. Served with white jasmine rice.
        </p>
        <h6 class="text-primary menu-price">
          Chicken OR Beef OR Mix Vegetables...$9.75
        </h6>
        <h6 class="text-primary menu-price">Shrimp OR Scallop...$10.75</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Thai Green Curry <i class="ico"></i></h5>
        <p>
          Green curry paste cooked in coconut milk with bell pepper, eggplant,
          and sweet basil. Subtly spicier than the other curries. Served with
          white jasmine rice.
        </p>
        <h6 class="text-primary menu-price">
          Chicken OR Beef OR Mix Vegetables...$9.75
        </h6>
        <h6 class="text-primary menu-price">Shrimp OR Scallop...$10.75</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Panang Curry <i class="ico"></i></h5>
        <p>
          Panang curry paste cooked in coconut milk with peanut sauce, crushed
          peanuts, bell pepper, and kaffir leaves. Served with white jasmine
          rice.
        </p>
        <h6 class="text-primary menu-price">
          Chicken OR Beef OR Mix Vegetables...$9.75
        </h6>
        <h6 class="text-primary menu-price">Shrimp OR Scallop...$10.75</h6>
      </div>
    </div>
  </div>

  <div class="col-md-12 text-center mb-5">
    <div class="row justify-content-center">
        <div class="col-md-7">
                <sub> Please notify us of any Food Allergies, as all ingredients are not listed in the menu.
                  All food may contain some traces of peanuts. There will be 18% gratuity fee with a party of six or more..
                  </sub>
        </div>
    </div>
  </div>
</div>
