<div class="row">
  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Nam Sod (chicken) <i class="ico"></i></h5>
        <p>
          Ground chicken mixed with fresh ginger, red onions, Thai spices,
          and lime juice, topped with roasted peanuts on a bed of lettuce.
        </p>
        <h6 class="text-primary menu-price">$7.95</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Beef Salad <i class="ico"></i></h5>
        <p>
          Sliced beef mixed with Thai spices, red onions, and lime juice,
          served on a bed of lettuce and shredded carrot with sliced cucumber when available.
        </p>
        <h6 class="text-primary menu-price">$7.95</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Squid Salad <i class="ico"></i></h5>
        <p>
          Sliced steamed squid mixed with Thai spices, red onions, lime juice,
          served on a bed of shredded carrot and lettuce.
        </p>
        <h6 class="text-primary menu-price">$8.95</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Seafood Salad <i class="ico"></i></h5>
        <p>
          Steamed combination of shrimps, scallops, and squid in Thai spices and lime juice
          , served on a bed of shredded carrot and lettuce.
        </p>
        <h6 class="text-primary menu-price">$9.95</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Yum Woon Sen <i class="ico"></i></h5>
        <p>
          Spicy bean thread noodles with chicken, red onions,
          lime juice and Thai spices served on a bed of shredded carrot and lettuce.
        </p>
        <h6 class="text-primary menu-price">$7.95</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Crystal Thai Goong <i class="ico"></i></h5>
        <p>
          Grilled shrimp seasoned with fresh garlic, chili,
          lime juice, red onions, served on a bed of lettuce.
        </p>
        <h6 class="text-primary menu-price">$9.95</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Peanut Salad</h5>
        <p>
          Tomato, red onion, and green onion on a bed of shredded carrot
          and lettuce, served with a house-made peanut dressing
          and cucumber when available. <b><i>(extra dressing $0.50 per take-out sauce container)</i></b>
        </p>
        <h6 class="text-primary menu-price">$6.95</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Larb Kai <i class="ico"></i></h5>
        <p>
          Ground white meat chicken, mixed with a flavorful blend of Thai herbs and
          roasted rice, red onions, chili, and lime juice, served on a bed of shredded carrot and lettuce.
        </p>
        <h6 class="text-primary menu-price">$7.95</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Som Tum <i class="ico"></i></h5>
        <p>
          Traditional Thai salad of green papaya, carrot, snow pea, and
          tomato mixed with lime juice, fish sauce, Thai chili,
          topped with roasted peanuts and grilled shrimp.
        </p>
        <h6 class="text-primary menu-price">Shrimp...$9.95</h6>
        <h6 class="text-primary menu-price">Tofu (vegan)...$7.95</h6>
      </div>
    </div>
  </div>

</div>
