<div class="row">
  <div class="col-md-6">
    <div class="media menu-item">
      <!-- <img
        src=""
        class="img-fluid mr-3"
      /> -->
      <div class="media-body">
        <h5 class="mt-0">Pad Thai*</h5>
        <p>
          A traditional stir-fry Thai noodle dish made with thin rice noodles, egg, bean sprouts,
          and scallions in a perfect blend of sauces, served with crushed peanuts and a slice of lime.
          <b>(Add extra noodles for $3.00, add extra egg for $1.00)</b>
          <br>
          <sub>*Please indicate to server if you do not want egg if vegan</sub>
        </p>
        <h6 class="text-primary menu-price">Chicken OR Beef OR Tofu OR Mix Vegetables...$10.49</h6>
        <h6 class="text-primary menu-price">Shrimp OR Scallop...$11.49</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <!-- <img
        src=""
        class="img-fluid mr-3"
      /> -->
      <div class="media-body">
        <h5 class="mt-0">Drunken Noodles (Pad Kee Mao)  <i class="ico"></i></h5>
        <p>
          A traditional stir-fry noodle dish flavored with sweet basil
          and made with wide rice noodles, onion, bell pepper in a special brown sauce.
          <b>(add extra noodles for $3.00)</b>
        </p>
        <h6 class="text-primary menu-price">Chicken OR Beef OR Tofu OR Mix Vegetables...$10.49</h6>
        <h6 class="text-primary menu-price">Shrimp OR Scallop...$11.49</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <!-- <img
        src=""
        class="img-fluid mr-3"
      /> -->
      <div class="media-body">
        <h5 class="mt-0">Fried Rice*</h5>
        <p>
          Stir-fried rice with egg, onion, carrot, pea, and tomato.
          <b>(Add extra fried rice for $2.00, add extra egg for $1.00)</b>
          <br>
          <sub>*Please indicate to server if you do not want egg if vegan</sub>
        </p>
        <h6 class="text-primary menu-price">Chicken OR Beef OR Tofu OR Mix Vegetables...$10.49</h6>
        <h6 class="text-primary menu-price">Shrimp OR Scallop...$11.49</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <!-- <img
        src=""
        class="img-fluid mr-3"
      /> -->
      <div class="media-body">
        <h5 class="mt-0">Vegetable Fried Rice*</h5>
        <p>
          Stir-fried rice with egg and mixed vegetables.
          <b>(Add extra fried rice for $2.00, add extra egg for $1.00)</b>
          <br>
          <sub>*Please indicate to server if you do not want egg if vegan</sub>
        </p>
        <h6 class="text-primary menu-price">Chicken OR Beef OR Tofu OR Mix Vegetables...$10.49</h6>
        <h6 class="text-primary menu-price">Shrimp OR Scallop...$11.49</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <!-- <img
        src=""
        class="img-fluid mr-3"
      /> -->
      <div class="media-body">
        <h5 class="mt-0">Sweet Basil Fried Rice*</h5>
        <p>
          Stir-fried rice with egg, sweet basil, bell pepper, onion.
          <b>(Add extra fried rice for $2.00, add extra egg for $1.00)</b>
          <br>
          <sub>*Please indicate to server if you do not want egg if vegan</sub>
        </p>
        <h6 class="text-primary menu-price">Chicken OR Beef OR Tofu OR Mix Vegetables...$10.49</h6>
        <h6 class="text-primary menu-price">Shrimp OR Scallop...$11.49</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <!-- <img
        src=""
        class="img-fluid mr-3"
      /> -->
      <div class="media-body">
        <h5 class="mt-0">Soy Sauce Noodles (Pad See Elw)*</h5>
        <p>
          A traditional stir-fry noodle dish flavored with a mildly sweet soy sauce and made with wide rice noodles, egg, and broccoli.
          <b>(Add extra noodles for $3.00, add extra egg for $1.00)</b>
          <br>
          <sub>*Please indicate to server if you do not want egg if vegan</sub>
        </p>
        <h6 class="text-primary menu-price">Chicken OR Beef OR Tofu OR Mix Vegetables...$10.49</h6>
        <h6 class="text-primary menu-price">Shrimp OR Scallop...$11.49</h6>
      </div>
    </div>
  </div>
  <div class="col-md-12 text-center mb-5">
    <div class="row justify-content-center">
        <div class="col-md-7">
                <sub> Please notify us of any Food Allergies, as all ingredients are not listed in the menu.
                  All food may contain some traces of peanuts. There will be 18% gratuity fee with a party of six or more.
                  </sub>
        </div>
    </div>
  </div>
</div>
