<div class="row">
  <div class="col-md-6" >
    <div class="media menu-item">
      <!-- <img
        src=""
        class="img-fluid mr-3"
      /> -->
      <div class="media-body">
        <h5 class="mt-0">Fried Banana</h5>
        <p>
          Wrapped in crispy shell and topped with honey and roasted sesame seeds.
        </p>
        <h6 class="text-primary menu-price">$4.95</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <!-- <img
        src=""
        class="img-fluid mr-3"
      /> -->
      <div class="media-body">
        <h5 class="mt-0">Fried Banana with Vanilla Ice Cream</h5>
        <p>
          Wrapped in crispy shell and topped with honey and roasted sesame seeds, served with a scoop of vanilla ice cream.
        </p>
        <h6 class="text-primary menu-price">$5.95</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <!-- <img
        src=""
        class="img-fluid mr-3"
        alt=""
      /> -->
      <div class="media-body">
        <h5 class="mt-0">Fried Ice Cream*</h5>
        <p>
          Vanilla Ice Cream covered in a crispy coating,
          flashed fried to keep center chilled and outer layer crunchy.
          Topped with chocolate syrup and served with whipped cream and cherry when available.
          <br>
          <sub><strong>*Not available for carry-out</strong></sub>
        </p>
        <h6 class="text-primary menu-price">$5.95</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <!-- <img
        src=""
        class="img-fluid mr-3"
      /> -->
      <div class="media-body">
        <h5 class="mt-0">Fried Cheesecake*</h5>
        <p>
          New York styled cheesecake coated in a light batter and deep fried.
          Covered with chocolate syrup and served with whipped cream and cherry when available.
          <br>
          <sub><strong>*Takes a bit of time to make</strong></sub>
        </p>
        <h6 class="text-primary menu-price">$5.95</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <!-- <img
        src=""
        class="img-fluid mr-3"
      /> -->
      <div class="media-body">
        <h5 class="mt-0">Sticky Rice and Mango</h5>
        <p>
          Thailand’s famous dessert, sweet sticky rice mixed with coconut milk,
          topped with coconut sauce and roasted sesame seeds. Served with mango.
        </p>
        <h6 class="text-primary menu-price">$5.95</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <!-- <img
        src=""
        class="img-fluid mr-3"
      /> -->
      <div class="media-body">
        <h5 class="mt-0">Mango Only</h5>
        <p>
        </p>
        <h6 class="text-primary menu-price">$3.95</h6>
      </div>
    </div>
  </div>

  <div class="col-md-12 text-center mb-5">
    <div class="row justify-content-center">
        <div class="col-md-7">
                <sub> Please notify us of any Food Allergies, as all ingredients are not listed in the menu.
                  All food may contain some traces of peanuts. There will be 18% gratuity fee with a party of six or more..
                  </sub>
        </div>
    </div>
  </div>
</div>
