<div class="row">
  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Wonton Soup </h5>
        <p>
          Wonton skin stuffed with ground chicken, in a clear chicken
          broth with napa cabbage, topped with scallions and roasted garlic.
        </p>
        <h6 class="text-primary menu-price">$5.45</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Tom Yum <i class="ico"></i></h5>
        <p>
          A lemongrass flavored chicken broth*, with kaffir leaves,
          mushroom, onion, tomato, lime juice and sweet chili paste.
          <i>*can substitute with a vegan broth; vegan broth will not be spicy unless requested</i>
        </p>
        <h6 class="text-primary menu-price">Chicken <u>OR</u> Tofu <u>OR</u> Mix Veggies...$6.45</h6>
        <h6 class="text-primary menu-price">Shrimp...$7.45</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Tom Ka <i class="ico"></i></h5>
        <p>
          A galangal flavored coconut milk and chicken broth*,
          with kaffir leaves, mushroom, onion, tomato, lime juice, and sweet chili paste.
          *can substitute with a vegan broth; vegan broth will not be spicy unless requested
        </p>
        <h6 class="text-primary menu-price">Chicken <u>OR</u> Tofu <u>OR</u> Mix Veggies...$6.45</h6>
        <h6 class="text-primary menu-price">Shrimp...$7.45</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Tom Yum Talay <i class="ico"></i></h5>
        <p>
          A seafood combination of shrimp, scallop, and calamari in a lemongrass flavored
          chicken broth*, with kaffir leaves, mushroom, onion, tomato, lime juice, and sweet chili paste.
          <i>*can be substituted with a vegan broth; vegan broth will not be spicy unless requested</i>
        </p>
        <h6 class="text-primary menu-price">$9.95</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Woon Sen Soup</h5>
        <p>
          Sliced white meat chicken, bean thread noodles, and napa
          cabbage in a clear chicken broth, topped with scallions and roasted garlic.
        </p>
        <h6 class="text-primary menu-price">$5.95</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Vegetable Soup</h5>
        <p>
          Mixed vegetables in a clear chicken broth*, topped with roasted garlic.
          <i>*can substitute with a vegan broth</i>
        </p>
        <h6 class="text-primary menu-price">$5.45</h6>
      </div>
    </div>
  </div>

</div>
