<div class="row">
  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Red Curry</h5>
        <p>
          Red curry paste cooked in coconut milk with bell pepper, bamboo shoot, and sweet basil.
          Served with white jasmine rice.
        </p>
        <h6 class="text-primary menu-price">Mixed Vegetables...$13.45</h6>
        <h6 class="text-primary menu-price">Chicken OR Beef OR Tofu...$13.75</h6>
        <h6 class="text-primary menu-price">Shrimp OR Scallops...$15.75</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Green Curry</h5>
        <p>
          Green curry paste cooked in coconut milk with bell pepper, eggplant, and sweet basil. Subtly spicier than the other curries.
          Served with white jasmine rice.
        </p>
        <h6 class="text-primary menu-price">Mixed Vegetables...$13.45</h6>
        <h6 class="text-primary menu-price">Chicken OR Beef OR Tofu...$13.75</h6>
        <h6 class="text-primary menu-price">Shrimp OR Scallops...$15.75</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Panang Curry</h5>
        <p>
          Panang curry paste cooked in coconut milk with peanut sauce, crushed peanuts, bell pepper, sweet basil, and kaffir leaves.
          Served with white jasmine rice.
        </p>
        <h6 class="text-primary menu-price">Mixed Vegetables...$13.45</h6>
        <h6 class="text-primary menu-price">Chicken OR Beef OR Tofu...$13.75</h6>
        <h6 class="text-primary menu-price">Shrimp OR Scallops...$15.75</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <img
        src=""
        class="img-fluid mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0">Massaman Curry</h5>
        <p>
          Massaman curry paste cooked in coconut milk with potato, onions, and whole roasted peanuts.
          Served with white jasmine rice.
        </p>
        <h6 class="text-primary menu-price">Mixed Vegetables...$13.45</h6>
        <h6 class="text-primary menu-price">Chicken OR Beef OR Tofu...$13.75</h6>
        <h6 class="text-primary menu-price">Shrimp OR Scallops...$15.75</h6>
      </div>
    </div>
  </div>

</div>
