<div class="row">
  <div class="col-md-6">
    <div class="media menu-item">
      <div class="media-body">
        <h5 class="mt-0">Sesame Pineapple</h5>
        <p>
          Sautéed pineapple, onion, carrot, snow pea, topped with roasted sesame seed.
          Served with white jasmine rice
        </p>
        <h6 class="text-primary menu-price">Chicken OR Beef OR Mix Vegetables...$10.49</h6>
        <h6 class="text-primary menu-price">Shrimp OR Scallop...$11.49</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <div class="media-body">
        <h5 class="mt-0">Crystal Thai Cashew</h5>
        <p>
          Sautéed onion, bell pepper, celery, carrot, and
          cashew nuts in our special brown sauce.
          Served with white jasmine rice.<b>*Add extra cashew nuts for $2.00</b>
        </p>
        <h6 class="text-primary menu-price">Chicken OR Beef OR Mix Vegetables...$10.79</h6>
        <h6 class="text-primary menu-price">Shrimp OR Scallop...$11.79</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <div class="media-body">
        <h5 class="mt-0">Pepper Perfect</h5>
        <p>
          Sautéed bell pepper, onion, carrot, and tomato in a tasty oyster sauce.
          Served with white jasmine rice.
        </p>
        <h6 class="text-primary menu-price">Chicken OR Beef OR Mix Vegetables...$10.49</h6>
        <h6 class="text-primary menu-price">Shrimp OR Scallop...$11.49</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <div class="media-body">
        <h5 class="mt-0">Sweet and Sour</h5>
        <p>
          Sautéed pineapple, cucumber, tomato, bell pepper, onion, and carrot in our special house sauce.
          Served with white jasmine rice.
        </p>
        <h6 class="text-primary menu-price">Chicken OR Beef OR Mix Vegetables...$10.49</h6>
        <h6 class="text-primary menu-price">Shrimp OR Scallop...$11.49</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <div class="media-body">
        <h5 class="mt-0">Tasty Ginger</h5>
        <p>
          Sautéed fresh ginger, onion, carrot, mushroom, and scallions in a brown sauce.
          Served with white jasmine rice.
        </p>
        <h6 class="text-primary menu-price">Chicken OR Beef OR Mix Vegetables...$10.49</h6>
        <h6 class="text-primary menu-price">Shrimp OR Scallop...$11.49</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <div class="media-body">
        <h5 class="mt-0">Sweet Basil (Pad Ka Prao) <i class="ico"></i></h5>
        <p>
          A popular Thai dish made of sautéed sweet basil, onion, and bell peppers in a brown sauce.
          Served with white jasmine rice
        </p>
        <h6 class="text-primary menu-price">Chicken OR Beef OR Mix Vegetables...$10.49</h6>
        <h6 class="text-primary menu-price">Shrimp OR Scallop...$11.49</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <div class="media-body">
        <h5 class="mt-0">Crystal Garden</h5>
        <p>
          Sautéed mixed vegetables in our brown sauce.
          Served with white jasmine rice.
        </p>
        <h6 class="text-primary menu-price">Chicken OR Beef OR Mix Vegetables...$10.49</h6>
        <h6 class="text-primary menu-price">Shrimp OR Scallop...$11.49</h6>
      </div>
    </div>
  </div>
  <div class="col-md-12 text-center mb-5">
    <div class="row justify-content-center">
        <div class="col-md-7">
                <sub> Please notify us of any Food Allergies, as all ingredients are not listed in the menu.
                  All food may contain some traces of peanuts. There will be 18% gratuity fee with a party of six or more.
                  </sub>
        </div>
    </div>
  </div>
</div>
