<div class="row">
  <div class="col-md-6">
    <div class="media menu-item">
      <!-- <img src="" class="img-fluid mr-3" /> -->
      <div class="media-body">
        <h5 class="mt-0">Thai Ice Tea or Thai Ice Coffee (no free refill)</h5>
        <h6 class="text-primary menu-price">$3.00</h6>
        <h5 class="mt-0">Soft Drinks</h5>
        <p>Coke, Diet Coke, Sprite, Ginger Ale, Orange</p>
        <h6 class="text-primary menu-price">$2.50</h6>
        <h5 class="mt-0">Hot Coffee (Regular or Decaf)</h5>
        <h6 class="text-primary menu-price">$2.50</h6>
        <h5 class="mt-0">Hot Tea (one individual pot per person)</h5>
        <p>Jasmine, Green, Black, Decaf-Black</p>
        <h6 class="text-primary menu-price">$2.50</h6>
        <h5 class="mt-0">Unsweetened Iced Tea</h5>
        <h6 class="text-primary menu-price">$2.50</h6>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media menu-item">
      <!-- <img src="" class="img-fluid mr-3" /> -->
      <div class="media-body">
        <h5 class="mt-0">Fruit Juice (no free refill)</h5>
        <h6 class="text-primary menu-price">$3.00</h6>
        <h5 class="mt-0">Lemonade</h5>
        <h6 class="text-primary menu-price">$2.50</h6>
        <h5 class="mt-0">Coconut Juice (no free refill)</h5>
        <h6 class="text-primary menu-price">$1.50</h6>
        <h5 class="mt-0">Bottle Water (no free refill)</h5>
        <h6 class="text-primary menu-price">$1.50</h6>
        <h5 class="mt-0">Perrier Sparkling Mineral Water (no free refill)</h5>
        <h6 class="text-primary menu-price">$2.50</h6>
      </div>
    </div>
  </div>
  <div class="col-md-12 text-center mb-5">
    <div class="row justify-content-center">
        <div class="col-md-7">
                <sub> Please notify us of any Food Allergies, as all ingredients are not listed in the menu.
                  All food may contain some traces of peanuts. There will be 18% gratuity fee with a party of six or more..
                  </sub>
        </div>
    </div>
  </div>
</div>
